{erl_opts,
 [
  debug_info,
  warn_obsolete_guard, warn_unused_import,
  warn_untyped_record
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.

%% XRef checks to run.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               exports_not_used
              ]}.
{xref_lib_path, app_file}.
%% {xref_ignore_modules, [g10_wire_protocol_capnp]}.

%% can't be a deps and only for testing.
{xref_extra_applications, [erts]}.
