%% Erlang compiler options.
{erl_opts,
 [
  debug_info,
  warn_obsolete_guard, warn_unused_import,
  warn_untyped_record
]}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_print_enabled, true}.
{cover_enabled, true}.
{plugins, [rebar_covertool]}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}.
{covertool_prefix_len, 2}.
